{% extends 'base.html' %}

{% block title %}User Page{% endblock %}

{% block content %}
<h1>New User Sign Up</h1>
<form method="POST" action="{{ url_for('new_user') }}">
    <input type="text" name="username" placeholder="username" required>
    <input type="text" name="first_name" placeholder="first name" required>
    <input type="text" name="last_name" placeholder="last name" required>
    <input type="text" name="img_url" placeholder="profile picture link">
    <input type="submit" value="Add New User">
</form>
{% endblock %}